/* style.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5dc; /* Beige background */
    color: #2c3e50; /* Dark text color */
}

.navbar-dark .navbar-nav .nav-link {
    color: white; /* White text for nav links */
}

.container-fluid {
    background-color: #2c3e50; /* Dark background for the home section */
    color: white; /* White text color for the home section */
}

.text-center h1 img {
    margin: 0 auto;
}

.text-center {
    max-width: 600px;
}

hr {
    border-top: 1px solid white; /* White color for the horizontal rule */
}

.btn-primary {
    background-color: #89CFF0; /* Light blue button */
    border-color: #89CFF0; /* Matching border color */
}

#about {
    background-color: #ffffff; /* White background for the about section */
    color: #2c3e50; /* Dark text color */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for the about section */
    margin-top: 50px; /* Ensure it has some space from the home section */
}
