body, html {
    height: 100%;
    margin: 0;
    background-color: #2C3E50; /* Dark background */
    color: #f5f5dc; /* Beige text */
    font-family: 'Arial', sans-serif;
}

.navbar-dark .navbar-brand {
    color: #f5f5dc; /* Beige text */
}

.navbar-dark .navbar-nav .nav-link {
    color: #f5f5dc; /* Beige text */
}

#home {
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C3E50; /* Dark background */
    color: #f5f5dc; /* Beige text */
}

.jumbotron {
    background-color: #34495e; /* Slightly lighter dark background */
    color: #f5f5dc; /* Beige text */
    padding: 2rem 1rem;
    width: 100%;
}

.jumbotron .display-4 img {
    width: 100%;
    max-width: 600px;
}

.btn-primary {
    background-color: #8E44AD; /* Dark purple */
    border: none;
}

.btn-primary:hover {
    background-color: #732d91; /* Darker purple */
}
